<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Book Shelf</title>
    <link rel="stylesheet" th:href="@{/static/styles/book_shelf.css}">
</head>
<body>
<p class="paragraph">Add new book</p>
<form method="POST" th:action="@{/books/save}" th:object="${book}">
    <table class="table">
        <tr class="table_row">
            <td>
                <input class="form_item" type="text" placeholder="Author" th:field="*{author}">
            </td>
            <td>
                <input class="form_item" type="text" placeholder="Title" th:field="*{title}">
            </td>
            <td>
                <input class="form_item" type="text" placeholder="Size (pages)" th:field="*{size}">
                <p th:if="${#fields.hasErrors()}"class="error-message">Field value must contains only digits and less than 4 signs</p>
            </td>
            <td>
                <input class="form_item" type="submit" value="Save book">
            </td>
        </tr>
    </table>
</form>
<hr>
<p class="paragraph">Remove Books</p>
<div class="remove-tables">
    <form method="POST" th:action="@{/books/remove/by-id}" th:object="${bookIdToRemove}">
        <table class="table">
            <caption>By Id</caption>
            <tr class="table_row">
                <td>
                    <input class="form_item" type="text" placeholder="Id of book" th:field="*{id}">
                </td>
                <td>
                    <input class="form_item" type="submit" value="Remove book">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p class="error-message">Fill the field</p>
                </td>
            </tr>
        </table>
    </form>
    <form method="POST" th:action="@{/books/remove}" th:object="${book}">
        <table class="table">
            <caption>By any parameter</caption>
            <tr class="table_row">
                <td>
                    <input class="form_item" type="text" placeholder="Author" th:field="*{author}">
                </td>
                <td>
                    <input class="form_item" type="text" placeholder="Title" th:field="*{title}">
                </td>
                <td>
                    <input class="form_item" type="text" placeholder="Size" th:field="*{size}">
                </td>
                <td>
                    <input class="form_item" type="submit" value="Remove book">
                </td>
            </tr>
        </table>
    </form>
</div>
<hr>
<p class="paragraph">Books on the shelf</p>
<table id="books">
    <tr>
        <th class="books_item" scope="colgroup">Id</th>
        <th class="books_item" scope="colgroup">Author</th>
        <th class="books_item" scope="colgroup">Title</th>
        <th class="books_item" scope="colgroup">Pages</th>
    </tr>
    <tr th:each="book : ${bookList}">
        <td class="books_item" th:text="${book.id}"></td>
        <td class="books_item" th:text="${book.author}"></td>
        <td class="books_item" th:text="${book.title}"></td>
        <td class="books_item" th:text="${book.size}"></td>
    </tr>
</table>
<hr>
<p class="paragraph">Sort this books</p>
<form class="buttons" method="POST" th:action="@{/books/sort}">
    <button class="sort-btn" th:name="author" th:value="author">By Author</button>
    <button class="sort-btn" th:name="title" th:value="title">By Title</button>
    <button class="sort-btn" th:name="size" th:value="size">By Pages</button>
</form>
<hr>
<p class="paragraph">Filter this books</p>
<form id="filter_form" method="POST" th:action="@{/books/filter}">
    <input class="form_item" type="text" placeholder="Filter by author" th:name="author">
    <input class="form_item" type="text" placeholder="Filter by title" th:name="title">
    <input class="form_item" type="text" placeholder="Filter by page" th:name="size">
    <input class="form_item" type="submit" value="Confirm">
</form>
</body>
</html>