<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Book Shelf Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/styles/login_page.css}">
</head>
<body>
<form id="login_form" method="POST" th:action="@{/login/auth}" th:object="${user}">
    <img class="login_item" th:src="@{/static/images/book_icon.png}" alt="book_icon">
    <input type="text" class="login_item" placeholder="Enter your name" th:field="*{username}">
    <input type="password" class="login_item" placeholder="Enter your password" th:field="*{password}">
    <input type="submit" class="login_item" value="Login">
    <p th:if="${#fields.hasErrors()}" class="error-message">
        Please, fill in all the fields correctly <br>
        Length of fields must be two or more characters
    </p>
</form>
<p class="paragraph">OR</p>
<a class="sign_up" th:href="@{/registration}">
    <button class="btn">Sign Up</button>
</a>
</body>
</html>