<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Book Shelf Login</title>
    <meta charset="UTF-8">
    <style>
        #login_form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 250px;
        }

        .login_item {
            margin-bottom: 10px;
        }

        input {
            height: 35px;
        }
    </style>
</head>
<body>
<form id="login_form" method="POST" th:action="@{/login/auth}" th:object="${loginForm}">
    <img class="login_item" th:src="@{/images/book_icon.png}" alt="book_icon">
    <input type="text" class="login_item" placeholder="Enter your name" th:field="*{username}">
    <input type="password" class="login_item" placeholder="Enter your password" th:field="*{password}">
    <input type="submit" class="login_item" value="Login">
</form>
</body>
</html>