<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<style>
    #registration_form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .registration_item {
        margin-bottom: 10px;
    }

    input {
        height: 35px;
    }
</style>
<body>
<form id="registration_form" method="POST" th:action="@{/registration/save}" th:object="${user}">
    <input type="text" class="registration_item" placeholder="Enter your name" th:field="*{username}">
    <input type="password" class="registration_item" placeholder="Enter your password" th:field="*{password}">
    <input type="submit" class="registration_item" value="Sign Up">
</form>
</body>
</html>